@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NHOM05</h1>
    <p class="lead">Phần Demo cho báo cáo đề tài tìm hiểu về hệ cơ sở dữ liệu MongoDB.</p>
    <p class="lead">Thực hành các chức năng Thêm, Xóa, Sửa, Tìm Kiếm</p>
    <p><a href="https://github.com/tmtruong1607/FinalReport_ADBTeam05?fbclid=IwAR0j2AOhcj8taRo35hClnagZBrK4QnCvOHtuyhzQknjt_krlgGe9jDwsVNo" class="btn btn-primary btn-lg">Tài liệu &raquo;</a></p>
</div>

<h2 class="text-center" style="margin-top:30px; margin-bottom:30px">Danh Sách Thành Viên NHOM05</h2>

<table class="table table-bordered text-center lead">
    <tr>
        <th class="text-center">
            Họ Tên
        </th>
        <th class="text-center">
            MSSV
        </th>
    </tr>
    <tr>
        <td>
            Nguyễn Văn An
        </td>
        <td>
            43.01.104.002
        </td>
    </tr>
    <tr>
        <td>
            Võ Thế Duy
        </td>
        <td>
            43.01.104.032
        </td>
    </tr>
    <tr>
        <td>
            Nguyễn Minh Pháp
        </td>
        <td>
            43.01.104.124
        </td>
    </tr>
    <tr>
        <td>
            Châu Bảo Thịnh
        </td>
        <td>
            43.01.104.169
        </td>
    </tr>
    <tr>
        <td>
            Trần Minh Trường
        </td>
        <td>
            43.01.104.192
        </td>
    </tr>
    <tr>
        <td>
            Nguyễn Doãn Tứ
        </td>
        <td>
            43.01.104.196
        </td>
    </tr>
</table>